
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/workspace.json
.DS_Store
*.json
.obsidian/*.*
.obsidian/themes/obsidian_ia/*.*
ia/blank1.md

